page-forgot-password {
  .heading{
    text-align: center !important;
    font-size: 250%;
    color: color($colors, primary);
    margin-top: 30% !important;
  }
  .list-style{
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: rgba(0, 0, 0, 0) !important;
    color: white;
  }
}
